*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#header{
    background: rgba(251, 250, 247, .88);;
    border-bottom: 1px solid #edebe4;
}

nav{
    display: flex;  
    font-family: 'Inter',system-ui,sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 0 64px;
    height: 64px;
    gap: 36px;
    color: #5C6066;
}

.titulo-site{
    color: black;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: -.3px;
}

#links{
    display: flex;
    list-style: none;
    gap: 28px;
    font-size: 14px;
}

#right-links{
    margin-left: auto;
    display: flex;
    list-style: none;
    gap: 28px;
    font-size: 14px;
    align-items: center;
}

a{
    text-decoration: none;
    color: inherit;
}

.btn{
    background-color: #14161A;
    color: #ececec;
    border: 1px;
    border-radius: 10px;
    padding: 10px 16px;
    cursor: pointer;
}

li:hover{
    color: black;
}

.btn:hover{
    color: #ffffff;
}